<!-- ============================================ -->
<!--                   Footer                     -->
<!-- ============================================ -->

<footer id="footer" class="reveal fade-in">
    <div class="container">
        <div class="left-section">
            <a href="/" class="logo" aria-label="back to home">
                <img src="/assets/images/logo.png" alt="logo" width="210" height="29" aria-hidden="true" decoding="async">
            </a>
        </div>
        <div class="right-section">
            <div class="lists">
                <ul>
                    <li>
                        <h2>Information</h2>
                    </li>
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="/about">About Us</a>
                    </li>
                    <li>
                        <a href="/projects">Projects</a>
                    </li>
                    <li>
                        <a href="/contact">Contact</a>
                    </li>
                </ul>
                <ul>
                    <li>
                        <h2>Contact</h2>
                    </li>
                    <li>
                        <a href="mailto:{{client.email}}">Click here to email</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>