---
title: 'About'
description: 'Meta description for the page'
preloadImg: '/assets/images/photo12.jpg'
permalink: 'about/'
eleventyNavigation:
    key: About Us
    order: 200
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/about.css">
{% endblock %}

{% block body %}
    <!-- ============================================ -->
    <!--                    LANDING                   -->
    <!-- ============================================ -->

    <section id="int-hero">
        <h1 id="home-h">About Us</h1>
        <picture>
            <source media="(max-width: 600px)" srcset="/assets/images/photo12.jpg">
            <source media="(min-width: 601px)" srcset="/assets/images/photo12.jpg">
            <img aria-hidden="true" decoding="async" src="/assets/images/photo12.jpg" alt="blueprints" loading="eager" width="2500" height="1667">
        </picture>

    </section>

    <!-- ============================================ -->
    <!--                 Side By Side                 -->
    <!-- ============================================ -->

    <section id="sbs">
        <div class="cs-container">
            <!-- Left Image Section -->
            <div class="cs-left">
                <div class="photo-grid">
                    <picture class="">
                        <source media="(max-width: 600px)" srcset="/assets/images/photo1.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/photo1.jpg">
                        <img aria-hidden="true" decoding="async" src="/assets/images/photo1.jpg" alt="construction" loading="lazy" width="400" height="563">
                    </picture>
                    <picture class="">
                        <source media="(max-width: 600px)" srcset="/assets/images/photo2.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/photo2.jpg">
                        <img aria-hidden="true" decoding="async" src="/assets/images/photo2.jpg" alt="crane" loading="lazy" width="400" height="563">
                    </picture>
                    <picture class="">
                        <source media="(max-width: 600px)" srcset="/assets/images/photo3.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/photo3.jpg">
                        <img aria-hidden="true" decoding="async" src="/assets/images/photo3.jpg" alt="construction" loading="lazy" width="400" height="563">
                    </picture>
                    <picture class="">
                        <source media="(max-width: 600px)" srcset="/assets/images/photo4.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/photo4.jpg">
                        <img aria-hidden="true" decoding="async" src="/assets/images/photo4.jpg" alt="crane" loading="lazy" width="400" height="563">
                    </picture>
                </div>
            </div>
            <!-- Right Content Section-->
            <div class="cs-right">
                <span class="cs-topper">About Us</span>
                <h2 class="cs-title">ORSAR Engineering</h2>
                <p class="cs-text">
                    We are a full-service mechanical, electrical, plumbing and fire protection (MEP/FP)
                    engineering firm with a passion for delivering innovative and sustainable solutions to our
                    clients. With years of experience and expertise, we pride ourselves on offering
                    exceptional service and expertise to a wide range of industries. We provide high-quality
                    engineering solutions to meet the complex needs of our clients.
                </p>
                <p class="cs-text">
                    We have successfully completed MEP projects for a variety of industries, including
                    commercial, retail, healthcare, and residential. Our collaborative approach, attention to
                    details, and commitment to excellence are our core values.
                </p>
                <p class="cs-text">
                    At ORSAR Engineering, we value our clients and understand the importance of
                    delivering projects on time and on budget. Our team of skilled engineers and designers
                    work closely with clients to ensure that their needs are met, and their vision is realized.
                </p>
                <a href="/projects" class="cs-button-solid">Our Projects</a>
            </div>
        </div>
    </section>

    {% include 'components/cta.html' %}

{% endblock %}