---
title: 'Projects'
description: 'Meta description for the page'
preloadImg: '/assets/images/cabinets2.jpg'
permalink: 'projects/'
eleventyNavigation:
    key: Projects
    order: 300
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/projects.css">
{% endblock %}

{% block body %}

    <!-- ============================================ -->
    <!--                    LANDING                   -->
    <!-- ============================================ -->

    <section id="int-hero">
        <h1 id="home-h">Our Projects</h1>
        <picture>
            <source media="(max-width: 600px)" srcset="/assets/images/cooling-tower.webp">
            <source media="(min-width: 601px)" srcset="/assets/images/cooling-tower.webp">
            <img aria-hidden="true" decoding="async" src="/assets/images/cooling-tower.webp" alt="kitchen cabinets" loading="eager" width="2500" height="1667">
        </picture>
    </section>

    <!-- ============================================ -->
    <!--                 Side By Side                 -->
    <!-- ============================================ -->
    <section class="sbs">
        <div class="cs-container reversed">
            <!-- Left Image Section -->
            <div class="cs-image-group">
                <!--Image-->
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="/assets/images/portfolio/portfolio-8.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/portfolio/portfolio-8.jpg">
                    <img loading="lazy" decoding="async" src="/assets/images/portfolio/portfolio-8.jpg" alt="meeting" width="630" height="630" aria-hidden="true">
                </picture>
            </div>
            <!-- Right Content Section-->
            <div class="cs-content reversed">
                {# <span class="cs-topper">About Us</span> #}
                <h2 class="cs-title">The Shops at Skyview</h2>
                <p class="cs-text">
                    The Shops at Skyview | Flushing, NY
                </p>
                <h3 class="cs-h3">Multiple retail and infrastructure MEP Projects</h3>
                <div class="icon-container">
                    <div>
                        <picture>
                            <img
                            aria-hidden="true"
                            decoding="async"
                            src="/assets/svgs/006-plumbing.svg"
                            alt="appliance"
                            width="45"
                            height="45"/>
                        </picture>
                    </div>
                    <div>
                        <picture>
                            <img
                            aria-hidden="true"
                            decoding="async"
                            src="/assets/svgs/004-air-conditioner.svg"
                            alt="appliance"
                            width="45"
                            height="45"/>
                        </picture>
                    </div>
                    <div>
                        <picture>
                            <img
                            aria-hidden="true"
                            decoding="async"
                            src="/assets/svgs/003-fire.svg"
                            alt="appliance"
                            width="45"
                            height="45"/>
                        </picture>
                    </div>
                    <div>
                        <picture>
                            <img
                            aria-hidden="true"
                            decoding="async"
                            src="/assets/svgs/005-electric-panel.svg"
                            alt="appliance"
                            width="45"
                            height="45"/>
                        </picture>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="sbs">
        <div class="cs-container reveal fade-in">
            <!-- Left Image Section -->
            <div class="cs-image-group">
                <!--Image-->
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="/assets/images/portfolio/portfolio-6.png">
                    <source media="(min-width: 601px)" srcset="/assets/images/portfolio/portfolio-6.png">
                    <img loading="lazy" decoding="async" src="/assets/images/portfolio/portfolio-6.png" alt="meeting" width="630" height="630" aria-hidden="true">
                </picture>
            </div>
            <!-- Right Content Section-->
            <div class="cs-content">
                {# <span class="cs-topper">About Us</span> #}
                <h2 class="cs-title">Hadran Academy</h2>
                <p class="cs-text">
                    Hadran Academy | Brooklyn, NY
                </p>
                <h3 class="cs-h3">A new six-story private school MEP design</h3>
                <div class="icon-container">
                    <div>
                        <picture>
                            <img
                            aria-hidden="true"
                            decoding="async"
                            src="/assets/svgs/006-plumbing.svg"
                            alt="appliance"
                            width="45"
                            height="45"/>
                        </picture>
                    </div>
                    <div>
                        <picture>
                            <img
                            aria-hidden="true"
                            decoding="async"
                            src="/assets/svgs/004-air-conditioner.svg"
                            alt="appliance"
                            width="45"
                            height="45"/>
                        </picture>
                    </div>
                    <div>
                        <picture>
                            <img
                            aria-hidden="true"
                            decoding="async"
                            src="/assets/svgs/003-fire.svg"
                            alt="appliance"
                            width="45"
                            height="45"/>
                        </picture>
                    </div>
                    <div>
                        <picture>
                            <img
                            aria-hidden="true"
                            decoding="async"
                            src="/assets/svgs/005-electric-panel.svg"
                            alt="appliance"
                            width="45"
                            height="45"/>
                        </picture>
                    </div>
                </div>
                {# <a class="cs-button-solid" aria-label="learn more about our programs" href="">Learn More</a> #}
                {# <ul class="cs-ul">
                    <li class="cs-item">
                        <span class="cs-number">150 +</span>
                        <h3 class="cs-h3">Staff on three continents</h3>
                    </li>
                    <li class="cs-item">
                        <span class="cs-number">700 +</span>
                        <h3 class="cs-h3">Consulting engagements</h3>
                    </li>
                    <li class="cs-item">
                        <span class="cs-number">180 +</span>
                        <h3 class="cs-h3">Learning community members</h3>
                    </li>
                </ul> #}
            </div>
        </div>
    </section>

    <section class="sbs">
        <div class="cs-container reversed reveal fade-in">
            <!-- Left Image Section -->
            <div class="cs-image-group">
                <!--Image-->
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="/assets/images/portfolio/portfolio-1.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/portfolio/portfolio-1.jpg">
                    <img loading="lazy" decoding="async" src="/assets/images/portfolio/portfolio-1.webp" alt="meeting" width="630" height="630" aria-hidden="true">
                </picture>
            </div>
            <!-- Right Content Section-->
            <div class="cs-content">
                {# <span class="cs-topper">About Us</span> #}
                <h2 class="cs-title">129 West 29th Street</h2>
                <p class="cs-text">
                    129 West 29th Street | Manhattan
                </p>
                <h3 class="cs-h3">Multiple floors office fit out.</h3>
                <div class="icon-container">
                    <div>
                        <picture>
                            <img
                            aria-hidden="true"
                            decoding="async"
                            src="/assets/svgs/006-plumbing.svg"
                            alt="appliance"
                            width="45"
                            height="45"/>
                        </picture>
                    </div>
                    <div>
                        <picture>
                            <img
                            aria-hidden="true"
                            decoding="async"
                            src="/assets/svgs/004-air-conditioner.svg"
                            alt="appliance"
                            width="45"
                            height="45"/>
                        </picture>
                    </div>
                    <div>
                        <picture>
                            <img
                            aria-hidden="true"
                            decoding="async"
                            src="/assets/svgs/003-fire.svg"
                            alt="appliance"
                            width="45"
                            height="45"/>
                        </picture>
                    </div>
                    <div>
                        <picture>
                            <img
                            aria-hidden="true"
                            decoding="async"
                            src="/assets/svgs/005-electric-panel.svg"
                            alt="appliance"
                            width="45"
                            height="45"/>
                        </picture>
                    </div>
                </div>

                {# <a class="cs-button-solid" aria-label="learn more about our programs" href="">Learn More</a> #}
                {# <ul class="cs-ul">
                    <li class="cs-item">
                        <span class="cs-number">150 +</span>
                        <h3 class="cs-h3">Staff on three continents</h3>
                    </li>
                    <li class="cs-item">
                        <span class="cs-number">700 +</span>
                        <h3 class="cs-h3">Consulting engagements</h3>
                    </li>
                    <li class="cs-item">
                        <span class="cs-number">180 +</span>
                        <h3 class="cs-h3">Learning community members</h3>
                    </li>
                </ul> #}
            </div>
        </div>
    </section>

    <section class="sbs">
        <div class="cs-container reveal fade-in">
            <!-- Left Image Section -->
            <div class="cs-image-group">
                <!--Image-->
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="/assets/images/portfolio/portfolio-5.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/portfolio/portfolio-5.jpg">
                    <img loading="lazy" decoding="async" src="/assets/images/portfolio/portfolio-5.jpg" alt="meeting" width="630" height="630" aria-hidden="true">
                </picture>
            </div>
            <!-- Right Content Section-->
            <div class="cs-content reversed">
                {# <span class="cs-topper">About Us</span> #}
                <h2 class="cs-title">Harlam East Life Plan</h2>
                <p class="cs-text">
                    Harlam East Life Plant | Manhattan, NY
                </p>
                <h3 class="cs-h3">Outpatient healthcare facility.</h3>
                <div class="icon-container">
                    <div>
                        <picture>
                            <img
                            aria-hidden="true"
                            decoding="async"
                            src="/assets/svgs/006-plumbing.svg"
                            alt="appliance"
                            width="45"
                            height="45"/>
                        </picture>
                    </div>
                    <div>
                        <picture>
                            <img
                            aria-hidden="true"
                            decoding="async"
                            src="/assets/svgs/004-air-conditioner.svg"
                            alt="appliance"
                            width="45"
                            height="45"/>
                        </picture>
                    </div>
                    <div>
                        <picture>
                            <img
                            aria-hidden="true"
                            decoding="async"
                            src="/assets/svgs/003-fire.svg"
                            alt="appliance"
                            width="45"
                            height="45"/>
                        </picture>
                    </div>
                    <div>
                        <picture>
                            <img
                            aria-hidden="true"
                            decoding="async"
                            src="/assets/svgs/005-electric-panel.svg"
                            alt="appliance"
                            width="45"
                            height="45"/>
                        </picture>
                    </div>
                </div>
                {# <a class="cs-button-solid" aria-label="learn more about our programs" href="">Learn More</a> #}
                {# <ul class="cs-ul">
                    <li class="cs-item">
                        <span class="cs-number">150 +</span>
                        <h3 class="cs-h3">Staff on three continents</h3>
                    </li>
                    <li class="cs-item">
                        <span class="cs-number">700 +</span>
                        <h3 class="cs-h3">Consulting engagements</h3>
                    </li>
                    <li class="cs-item">
                        <span class="cs-number">180 +</span>
                        <h3 class="cs-h3">Learning community members</h3>
                    </li>
                </ul> #}
            </div>
        </div>
    </section>

    <section class="sbs">
        <div class="cs-container reversed reveal fade-in">
            <!-- Left Image Section -->
            <div class="cs-image-group">
                <!--Image-->
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="/assets/images/portfolio/portfolio-6.png">
                    <source media="(min-width: 601px)" srcset="/assets/images/portfolio/portfolio-6.png">
                    <img loading="lazy" decoding="async" src="/assets/images/portfolio/portfolio-6.png" alt="meeting" width="630" height="630" aria-hidden="true">
                </picture>
            </div>
            <!-- Right Content Section-->
            <div class="cs-content">
                {# <span class="cs-topper">About Us</span> #}
                <h2 class="cs-title">199 2nd Street</h2>
                <p class="cs-text">
                    199 2nd Street | Mineola, NY
                </p>
                <h3 class="cs-h3">Resturant and kitchen MEP design</h3>
                <div class="icon-container">
                    <div>
                        <picture>
                            <img
                            aria-hidden="true"
                            decoding="async"
                            src="/assets/svgs/006-plumbing.svg"
                            alt="appliance"
                            width="45"
                            height="45"/>
                        </picture>
                    </div>
                    <div>
                        <picture>
                            <img
                            aria-hidden="true"
                            decoding="async"
                            src="/assets/svgs/004-air-conditioner.svg"
                            alt="appliance"
                            width="45"
                            height="45"/>
                        </picture>
                    </div>
                    <div>
                        <picture>
                            <img
                            aria-hidden="true"
                            decoding="async"
                            src="/assets/svgs/003-fire.svg"
                            alt="appliance"
                            width="45"
                            height="45"/>
                        </picture>
                    </div>
                    <div>
                        <picture>
                            <img
                            aria-hidden="true"
                            decoding="async"
                            src="/assets/svgs/005-electric-panel.svg"
                            alt="appliance"
                            width="45"
                            height="45"/>
                        </picture>
                    </div>
                </div>
                {# <a class="cs-button-solid" aria-label="learn more about our programs" href="">Learn More</a> #}
                {# <ul class="cs-ul">
                    <li class="cs-item">
                        <span class="cs-number">150 +</span>
                        <h3 class="cs-h3">Staff on three continents</h3>
                    </li>
                    <li class="cs-item">
                        <span class="cs-number">700 +</span>
                        <h3 class="cs-h3">Consulting engagements</h3>
                    </li>
                    <li class="cs-item">
                        <span class="cs-number">180 +</span>
                        <h3 class="cs-h3">Learning community members</h3>
                    </li>
                </ul> #}
            </div>
        </div>
    </section>

    <section class="sbs">
        <div class="cs-container reveal fade-in">
            <!-- Left Image Section -->
            <div class="cs-image-group">
                <!--Image-->
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="/assets/images/portfolio/portfolio-1.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/portfolio/portfolio-1.jpg">
                    <img loading="lazy" decoding="async" src="/assets/images/portfolio/portfolio-1.webp" alt="meeting" width="630" height="630" aria-hidden="true">
                </picture>
            </div>
            <!-- Right Content Section-->
            <div class="cs-content">
                {# <span class="cs-topper">About Us</span> #}
                <h2 class="cs-title">152 West 57th Street</h2>
                <p class="cs-text">
                    152 West 57th Street | Manhattan, NY
                </p>
                <h3 class="cs-h3">Office fit out</h3>
                <div class="icon-container">
                    <div>
                        <picture>
                            <img
                            aria-hidden="true"
                            decoding="async"
                            src="/assets/svgs/006-plumbing.svg"
                            alt="appliance"
                            width="45"
                            height="45"/>
                        </picture>
                    </div>
                    <div>
                        <picture>
                            <img
                            aria-hidden="true"
                            decoding="async"
                            src="/assets/svgs/004-air-conditioner.svg"
                            alt="appliance"
                            width="45"
                            height="45"/>
                        </picture>
                    </div>
                    <div>
                        <picture>
                            <img
                            aria-hidden="true"
                            decoding="async"
                            src="/assets/svgs/003-fire.svg"
                            alt="appliance"
                            width="45"
                            height="45"/>
                        </picture>
                    </div>
                    <div>
                        <picture>
                            <img
                            aria-hidden="true"
                            decoding="async"
                            src="/assets/svgs/005-electric-panel.svg"
                            alt="appliance"
                            width="45"
                            height="45"/>
                        </picture>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="sbs">
        <div class="cs-container reversed reveal fade-in">
            <!-- Left Image Section -->
            <div class="cs-image-group">
                <!--Image-->
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="/assets/images/portfolio/portfolio-5.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/portfolio/portfolio-5.jpg">
                    <img loading="lazy" decoding="async" src="/assets/images/portfolio/portfolio-5.jpg" alt="meeting" width="630" height="630" aria-hidden="true">
                </picture>
            </div>
            <!-- Right Content Section-->
            <div class="cs-content reversed">
                {# <span class="cs-topper">About Us</span> #}
                <h2 class="cs-title">206 Ditmas Ave</h2>
                <p class="cs-text">
                    206 Ditmas Avenue | Brooklyn, NY   
                </p>
                <h3 class="cs-h3">A new six-story office building MEP design</h3>
                <div class="icon-container">
                    <div>
                        <picture>
                            <img
                            aria-hidden="true"
                            decoding="async"
                            src="/assets/svgs/006-plumbing.svg"
                            alt="appliance"
                            width="45"
                            height="45"/>
                        </picture>
                    </div>
                    <div>
                        <picture>
                            <img
                            aria-hidden="true"
                            decoding="async"
                            src="/assets/svgs/004-air-conditioner.svg"
                            alt="appliance"
                            width="45"
                            height="45"/>
                        </picture>
                    </div>
                    <div>
                        <picture>
                            <img
                            aria-hidden="true"
                            decoding="async"
                            src="/assets/svgs/003-fire.svg"
                            alt="appliance"
                            width="45"
                            height="45"/>
                        </picture>
                    </div>
                    <div>
                        <picture>
                            <img
                            aria-hidden="true"
                            decoding="async"
                            src="/assets/svgs/005-electric-panel.svg"
                            alt="appliance"
                            width="45"
                            height="45"/>
                        </picture>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="sbs">
        <div class="cs-container reveal fade-in">
            <!-- Left Image Section -->
            <div class="cs-image-group">
                <!--Image-->
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="/assets/images/portfolio/portfolio-6.png">
                    <source media="(min-width: 601px)" srcset="/assets/images/portfolio/portfolio-6.png">
                    <img loading="lazy" decoding="async" src="/assets/images/portfolio/portfolio-6.png" alt="meeting" width="630" height="630" aria-hidden="true">
                </picture>
            </div>
            <!-- Right Content Section-->
            <div class="cs-content">
                {# <span class="cs-topper">About Us</span> #}
                <h2 class="cs-title">309 East 49th Street</h2>
                <p class="cs-text">
                    Project 309 East 49th Street | Manhattan, NY
                </p>
                <h3 class="cs-h3">BigVision Community Space.</h3>
                <div class="icon-container">
                    <div>
                        <picture>
                            <img
                            aria-hidden="true"
                            decoding="async"
                            src="/assets/svgs/006-plumbing.svg"
                            alt="appliance"
                            width="45"
                            height="45"/>
                        </picture>
                    </div>
                    <div>
                        <picture>
                            <img
                            aria-hidden="true"
                            decoding="async"
                            src="/assets/svgs/004-air-conditioner.svg"
                            alt="appliance"
                            width="45"
                            height="45"/>
                        </picture>
                    </div>
                    <div>
                        <picture>
                            <img
                            aria-hidden="true"
                            decoding="async"
                            src="/assets/svgs/003-fire.svg"
                            alt="appliance"
                            width="45"
                            height="45"/>
                        </picture>
                    </div>
                    <div>
                        <picture>
                            <img
                            aria-hidden="true"
                            decoding="async"
                            src="/assets/svgs/005-electric-panel.svg"
                            alt="appliance"
                            width="45"
                            height="45"/>
                        </picture>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {% include 'components/cta.html' %}

{% endblock %}