/* PAGE-SPECIFIC STYLES FOR THE PROJECTS PAGE */
/* Import animations */
/*-- -------------------------- -->
<---        Animations          -->
<--- -------------------------- -*/
@-webkit-keyframes fade-in {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@-moz-keyframes fade-in {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@-ms-keyframes fade-in {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@-o-keyframes fade-in {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
/*-- -------------------------- -->
<---       Side By Side         -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  .sbs {
    padding: clamp(2.75rem, 7.82vw, 3.25rem) 1rem;
    overflow: hidden;
  }
  .sbs .cs-container {
    width: 100%;
    /* changes to 1280px at desktop */
    max-width: 36.5rem;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: clamp(3rem, 4vw, 4rem);
  }
  .sbs .cs-title {
    border-bottom: 2px solid var(--primary);
  }
  .sbs .cs-h3 {
    margin: 0 auto 1rem;
  }
  .sbs .cs-container.reveal {
    position: relative;
    opacity: 0;
  }
  .sbs .cs-container.reveal.active {
    opacity: 1;
  }
  .sbs .cs-container.active.fade-in {
    -webkit-animation: fade-in .5s ease-in;
    -moz-animation: fade-in .5s ease-in;
    -ms-animation: fade-in .5s ease-in;
    -o-animation: fade-in .5s ease-in;
    animation: fade-in .5s ease-in;
  }
  .sbs .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: left;
    width: 100%;
    max-width: 33.875rem;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: flex-start;
    position: relative;
    z-index: 10;
  }
  .sbs .cs-content .icon-container {
    padding: 1em 1em 0em 1em;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
  }
  .sbs .cs-content .icon-container picture {
    width: 4em;
    height: 4em;
    margin: auto;
    background: var(--primary);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .sbs .cs-content .icon-container .caption-text {
    text-align: center;
  }
  .sbs .cs-text {
    margin-bottom: 2em;
  }
  .sbs .cs-button-solid {
    font-size: 1rem;
    /* 46px - 56px */
    line-height: clamp(2.875rem, 5.5vw, 3.5rem);
    text-decoration: none;
    font-weight: 700;
    text-align: center;
    margin: 0;
    color: #1a1a1a;
    min-width: 9.375rem;
    padding: 0 1.5rem;
    background-color: var(--primary);
    display: inline-block;
    position: relative;
    z-index: 1;
    /* prevents padding from adding to the width */
    box-sizing: border-box;
    transition: color 0.3s;
  }
  .sbs .cs-button-solid:before {
    content: "";
    position: absolute;
    height: 100%;
    width: 0%;
    background: #000;
    opacity: 1;
    top: 0;
    left: 0;
    z-index: -1;
    transition: width 0.3s;
  }
  .sbs .cs-button-solid:hover {
    color: #fff;
  }
  .sbs .cs-button-solid:hover:before {
    width: 100%;
  }
  .sbs .cs-ul {
    width: 100%;
    padding: 0;
    /* 32px - 48px */
    margin: clamp(2rem, 5vw, 3rem) 0 0 0;
    /* 32px - 48px */
    padding: clamp(2rem, 5vw, 3rem) 0 0 0;
    border-top: 1px solid #e8e8e8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 0.75rem;
  }
  .sbs .cs-item {
    list-style: none;
    width: 32%;
    /* making flex so we can align a heading with 1 line to the bottom */
    display: flex;
    flex-direction: column;
    align-self: stretch;
    align-content: space-between;
  }
  .sbs .cs-number {
    font-size: 1.5625rem;
    line-height: 1.2em;
    font-weight: 700;
    text-align: left;
    color: var(--primary);
    display: block;
    margin: 0 0 0.5rem 0;
  }
  .sbs .cs-image-group {
    width: 100%;
    max-width: 41.875rem;
    height: 100vw;
    max-height: 39.375rem;
    position: relative;
    display: block;
    z-index: 1;
  }
  .sbs .cs-picture {
    /* big background image */
    width: 93%;
    height: 93%;
    display: block;
  }
  .sbs .cs-picture img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: contain;
    border-radius: 1em;
  }
  .sbs .cs-box {
    text-align: left;
    width: 70%;
    max-width: 19rem;
    /* 20px - 40px */
    padding: clamp(1.25rem, 4vw, 2.5rem);
    /* prevents padding and border from affecting height and width */
    box-sizing: border-box;
    background-color: #1a1a1a;
    display: inline-flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 0.5rem;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 10;
  }
  .sbs .cs-desc {
    /* 16px - 31px */
    font-size: clamp(1rem, 2.5vw, 1.9375rem);
    line-height: 1.2em;
    font-weight: 700;
    text-align: inherit;
    width: 100%;
    color: var(--bodyTextColorWhite);
    position: relative;
    z-index: 10;
  }
  .sbs .cs-graphic {
    width: 150%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
  }
}
/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  .sbs .cs-container {
    max-width: 80rem;
    /* set to horizontal arrangement */
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
  }
  .sbs .cs-container.reversed {
    flex-direction: row-reverse;
  }
  .sbs .cs-content {
    width: 48%;
    align-self: center;
    /* prevents flexbox from squishing it */
    flex: none;
  }
  .sbs .cs-image-group {
    width: 55%;
    max-width: 41.875rem;
    min-height: 41.875rem;
    max-height: 100%;
    height: auto;
    margin: 0;
  }
  .sbs .cs-picture {
    width: 93%;
    height: 94%;
  }
  .sbs .cs-box {
    bottom: 0;
  }
  .sbs .cs-graphic {
    max-width: 44.6875rem;
    left: auto;
    right: 8.125rem;
    transform: translateY(-50%);
  }
}
/* Dark Mode */
@media only screen and (min-width: 0rem) {
  body.dark-mode .sbs .cs-title,
  body.dark-mode .sbs .cs-text,
  body.dark-mode .sbs .cs-h3 {
    color: var(--bodyTextColorWhite);
  }
  body.dark-mode .sbs .cs-link {
    color: var(--secondaryLight);
  }
  body.dark-mode .sbs .cs-content .icon-container picture {
    background: var(--primaryDark);
  }
  body.dark-mode .sbs .cs-box {
    background-color: var(--medium);
  }
}
/*-- -------------------------- -->
<---       Side By Side         -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #sbs-683 {
    padding: var(--sectionPadding);
    /* clips the zigzag graphic so it doesn't cause overflow issues */
    overflow: hidden;
  }
  #sbs-683 .cs-container {
    width: 100%;
    max-width: 80rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
  }
  #sbs-683 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: left;
    width: 100%;
    max-width: 33.875rem;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: flex-start;
  }
  #sbs-683 .cs-text {
    margin-bottom: 1rem;
  }
  #sbs-683 .cs-text:last-of-type {
    margin-bottom: 2rem;
  }
  #sbs-683 .cs-title {
    border-bottom: 2px solid var(--primary);
  }
  #sbs-683 .cs-h3 {
    margin: 0 auto 1rem;
  }
  #sbs-683 .cs-image-group {
    /* everything inside the image group is in ems so the font size will scale them down.  Font size minimum is tied to view width size, and grows until it reaches 75% of the value on em */
    font-size: min(2.3vw, 0.75em);
    width: 39.5em;
    height: 51.25em;
    position: relative;
    z-index: 1;
  }
  #sbs-683 .cs-picture {
    width: 19.125em;
    height: 22.5em;
    overflow: hidden;
    display: block;
    position: absolute;
    border-radius: 1em;
  }
  #sbs-683 .cs-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }
  #sbs-683 .cs-picture1 {
    top: 5em;
    left: 0;
  }
  #sbs-683 .cs-picture2 {
    top: 0;
    right: 0;
  }
  #sbs-683 .cs-picture3 {
    bottom: 4em;
    left: 20em;
  }
  #sbs-683 .cs-graphic {
    display: none;
  }
}
/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #sbs-683 .cs-container {
    flex-direction: row;
    justify-content: space-between;
  }
  #sbs-683 .cs-container.reversed {
    flex-direction: row-reverse;
  }
  #sbs-683 .cs-image-group {
    font-size: min(1.2vw, 1em);
    flex: none;
  }
  #sbs-683 .cs-graphic {
    width: 61.4375em;
    height: auto;
    display: block;
    position: absolute;
    bottom: 10.3125em;
    right: -2em;
    z-index: -1;
  }
}
/* Dark Mode */
@media only screen and (min-width: 0rem) {
  body.dark-mode #sbs-683 .cs-topper .cs-color {
    color: var(--primaryLight);
  }
  body.dark-mode #sbs-683 .cs-title,
  body.dark-mode #sbs-683 .cs-text,
  body.dark-mode #sbs-683 .cs-h3,
  body.dark-mode #sbs-683 .cs-item-p {
    color: var(--bodyTextColorWhite);
  }
  body.dark-mode #sbs-683 .cs-text,
  body.dark-mode #sbs-683 .cs-item-p {
    opacity: 0.8;
  }
  body.dark-mode #sbs-683 .cs-icon {
    filter: brightness(125%);
  }
  body.dark-mode #sbs-683 .cs-graphic {
    opacity: 0.2;
  }
}
.slider,
.slider-1 {
  width: 100%;
  max-width: 41.875rem;
  max-height: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  /* <===  */
}

.slide,
.slide-1 {
  width: 100%;
  height: 100%;
  position: absolute;
  transition: all 0.5s;
}

.slide img,
.slide-1 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.btn,
.btn-1 {
  position: absolute;
  width: 40px;
  height: 40px;
  padding: 10px;
  border: none;
  border-radius: 50%;
  z-index: 10px;
  cursor: pointer;
  background-color: #fff;
  font-size: 18px;
}

.btn:active,
.btn-1:active {
  transform: scale(1.1);
}

.btn-prev,
.btn-prev-1 {
  top: 45%;
  left: 2%;
}

.btn-next,
.btn-next-1 {
  top: 45%;
  right: 2%;
}

/*# sourceMappingURL=projects.css.map */
