---
title: 'ORSAR Engineering'
description: 'Meta description for the page'
preloadImg: '/assets/images/nyc.jpg'
permalink: '/'
eleventyNavigation:
  key: Home
  order: 100
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/local.css"/>
    <link rel="stylesheet" href="/assets/css/critical.css"/>
{% endblock %}

{% block body %}

    <!-- ============================================ -->
    <!--                    Hero                      -->
    <!-- ============================================ -->

    <section id="hero">
        <div class="cs-container">
            <div class="cs-flex-group">
                <span class="cs-topper">ORSAR ENGINEERING</span>
                <h1 class="cs-title">Each client feels like the only client.</h1>
                <p class="cs-text">
                    We are a full-service mechanical, electrical, plumbing and fire protection (MEP/FP) engineering firm with a passion for delivering innovative and sustainable solutions to our clients.
                </p>
                <a href="/about" class="cs-button-solid">Explore More</a>
                <a href="/contact" class="cs-button-transparent">
                    <img
                    class="cs-img"
                    loading="lazy"
                    decoding="async"
                    src="https://csimg.nyc3.digitaloceanspaces.com/Hero/play.svg"
                    alt="play icon"
                    width="17"
                    height="17"/>
                    Get in Touch
                </a>
            </div>
        </div>

        <!-- Background Image -->
        <picture class="cs-picture">
            <source media="(max-width: 600px)" srcset="/assets/images/nyc.webp">
            <source media="(min-width: 601px)" srcset="/assets/images/nyc.jpg">
            <img aria-hidden="true" decoding="async" src="/assets/images/nyc.jpg" alt="new home" width="2500" height="1667" loading="eager">
        </picture>
    </section>

    <!-- ============================================ -->
    <!--                  Services                    -->
    <!-- ============================================ -->

    <section id="services" class="services reveal fade-in">
        <!-- Get Icons From flaticon.com -->
        <h2>Our Services</h2>
        <div class="services-cards">
            <div class="card">
                <ul class="cs-ul">
                    <li class="cs-li">Heating, Ventilation, and Air Conditioning (HVAC) system design</li>
                    <li class="cs-li">Electrical system design and analysis</li>
                    <li class="cs-li">Plumbing and fire protection system design</li>
                </ul>
            </div>
            <div class="card">
                <ul class="cs-ul">
                    <li class="cs-li">NYC MEP Special and progress inspections</li>
                    <li class="cs-li">Commissioning and retro-commissioning</li>
                    <li class="cs-li">Local law compliance</li>
                    <li class="cs-li">Energy analysis</li>
                </ul>
            </div>
        </div>
    </section>

    <!-- ============================================ -->
    <!--                 Side By Side                 -->
    <!-- ============================================ -->

    <section id="sbs" class="reveal fade-in">
        <div class="cs-container">
            <!-- Left Image Section -->
            <div class="cs-left">
                <div class="photo-grid">
                    <picture class="">
                        <source media="(max-width: 600px)" srcset="/assets/images/photo1.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/photo1.jpg">
                        <img aria-hidden="true" decoding="async" src="/assets/images/photo1.jpg" alt="construction" loading="lazy" width="400" height="563">
                    </picture>
                    <picture class="">
                        <source media="(max-width: 600px)" srcset="/assets/images/photo2.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/photo2.jpg">
                        <img aria-hidden="true" decoding="async" src="/assets/images/photo2.jpg" alt="crane" loading="lazy" width="400" height="563">
                    </picture>
                    <picture class="">
                        <source media="(max-width: 600px)" srcset="/assets/images/photo3.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/photo3.jpg">
                        <img aria-hidden="true" decoding="async" src="/assets/images/photo3.jpg" alt="construction" loading="lazy" width="400" height="563">
                    </picture>
                    <picture class="">
                        <source media="(max-width: 600px)" srcset="/assets/images/photo4.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/photo4.jpg">
                        <img aria-hidden="true" decoding="async" src="/assets/images/photo4.jpg" alt="crane" loading="lazy" width="400" height="563">
                    </picture>
                </div>
            </div>
            <!-- Right Content Section-->
            <div class="cs-right">
                <span class="cs-topper">About Us</span>
                <h2 class="cs-title">ORSAR Engineering</h2>
                <p class="cs-text">
                    We are a full-service mechanical, electrical, plumbing and fire protection (MEP/FP)
                    engineering firm with a passion for delivering innovative and sustainable solutions to our
                    clients. With years of experience and expertise, we pride ourselves on offering
                    exceptional service and expertise to a wide range of industries. We provide high-quality
                    engineering solutions to meet the complex needs of our clients.
                </p>
                <a href="/about" class="cs-button-solid">More About Us</a>
            </div>
        </div>
    </section>

    <!-- ============================================ -->
    <!--                   Gallery                    -->
    <!-- ============================================ -->

    <section id="gallery" class="reveal fade-in">
        <div class="cs-container">
            <span class="cs-topper">Our Portfolio</span>
            <h2 class="cs-title">Browse our work.</h2>
            <div class="cs-image-group">
                <!-- Row 1-->
                <div class="cs-row cs-row-1">
                    <!-- To add more images, copy and paste this row's picture tags here in order from cs-picture-1 to cs-picture-3 and they will maintain the same layout-->

                    <picture class="cs-picture cs-picture2">
                        <source media="(max-width: 600px)" srcset="/assets/images/portfolio/SkyView.png">
                        <source media="(min-width: 601px)" srcset="/assets/images/portfolio/SkyView.png">
                        <img aria-hidden="true" decoding="async" src="/assets/images/portfolio/SkyView.png" alt="apartment addition" loading="lazy" width="400" height="560">
                    </picture>
                    <picture class="cs-picture cs-picture2">
                        <source media="(max-width: 600px)" srcset="/assets/images/portfolio/portfolio-6.png">
                        <source media="(min-width: 601px)" srcset="/assets/images/portfolio/portfolio-6.png">
                        <img aria-hidden="true" decoding="async" src="/assets/images/portfolio/portfolio-6.png" alt="building a new wall" loading="lazy" width="400" height="560">
                    </picture>
                </div>
                <!-- Row 2 -->
                <div class="cs-row cs-row-2">
                    <!-- To add more images, copy and paste this row's picture tags here in order from cs-picture-1 to cs-picture-3 and they will maintain the same layout-->
                    <picture class="cs-picture cs-picture1">
                        <source media="(max-width: 600px)" srcset="/assets/images/portfolio/photo9.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/portfolio/photo9.jpg">
                        <img aria-hidden="true" decoding="async" src="/assets/images/portfolio/photo9.jpg" alt="new kitchen" loading="lazy" width="400" height="560">
                    </picture>
                    <picture class="cs-picture cs-picture2">
                        <source media="(max-width: 600px)" srcset="/assets/images/portfolio/ditmas.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/portfolio/ditmas.jpg">
                        <img aria-hidden="true" decoding="async" src="/assets/images/portfolio/ditmas.jpg" alt="apartment addition" loading="lazy" width="400" height="560">
                    </picture>
                </div>
                <!-- Row 2 -->
                <div class="cs-row cs-row-3">
                    <!-- To add more images, copy and paste this row's picture tags here in order from cs-picture-1 to cs-picture-3 and they will maintain the same layout-->
                    <picture class="cs-picture cs-picture1">
                        <source media="(max-width: 600px)" srcset="/assets/images/portfolio/photo7.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/portfolio/photo7.jpg">
                        <img aria-hidden="true" decoding="async" src="/assets/images/portfolio/photo7.jpg" alt="new home construction" loading="lazy" width="400" height="560">
                    </picture>
                    <picture class="cs-picture cs-picture1">
                        <source media="(max-width: 600px)" srcset="/assets/images/portfolio/photo6.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/portfolio/photo6.jpg">
                        <img aria-hidden="true" decoding="async" src="/assets/images/portfolio/photo6.jpg" alt="new hallway" loading="lazy" width="400" height="560">
                    </picture>
                </div>
            </div>
            <a href="/projects" class="cs-button-solid">See Our Projects</a>
        </div>
    </section>

    {% include 'components/cta.html' %}
{% endblock %}