/* PAGE-SPECIFIC STYLES FOR THE PROJECTS PAGE */

/* Import animations */
@import "animations.scss";

/*-- -------------------------- -->
<---       Side By Side         -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    .sbs {
        padding: clamp(2.75rem, 7.82vw, 3.25rem) 1rem;
        overflow: hidden;

        .cs-container {
            width: 100%;
            /* changes to 1280px at desktop */
            max-width: calc(584 / 16 * 1rem);
            margin: auto;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: clamp(3rem, 4vw, 4rem);
        }

        .cs-title {
            border-bottom: 2px solid var(--primary);
        }

        .cs-h3 {
            margin: 0 auto 1rem;
        }

        .cs-container.reveal {
            position: relative;
            opacity: 0;
        }

        .cs-container.reveal.active {
            opacity: 1;
        }

        .cs-container.active.fade-in {
            @include animation('fade-in .5s ease-in');
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: left;
            width: 100%;
            max-width: calc(542 / 16 * 1rem);
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: flex-start;
            position: relative;
            z-index: 10;

            .icon-container {
                padding: 1em 1em 0em 1em;
                display: flex;
                justify-content: space-evenly;
                width: 100%;

                picture {
                    width: 4em;
                    height: 4em;
                    margin: auto;
                    background: var(--primary);
                    border-radius: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

                .caption-text {
                    text-align: center;
                }
            }
        }

        .cs-text {
            margin-bottom: 2em;
        }

        .cs-button-solid {
            font-size: calc(16 / 16 * 1rem);
            /* 46px - 56px */
            line-height: clamp(2.875rem, 5.5vw, 3.5rem);
            text-decoration: none;
            font-weight: 700;
            text-align: center;
            margin: 0;
            color: #1a1a1a;
            min-width: calc(150 / 16 * 1rem);
            padding: 0 calc(24 / 16 * 1rem);
            background-color: var(--primary);
            display: inline-block;
            position: relative;
            z-index: 1;
            /* prevents padding from adding to the width */
            box-sizing: border-box;
            transition: color 0.3s;

            &:before {
                content: "";
                position: absolute;
                height: 100%;
                width: 0%;
                background: #000;
                opacity: 1;
                top: 0;
                left: 0;
                z-index: -1;
                transition: width 0.3s;
            }

            &:hover {
                color: #fff;

                &:before {
                    width: 100%;
                }
            }
        }

        .cs-ul {
            width: 100%;
            padding: 0;
            /* 32px - 48px */
            margin: clamp(2rem, 5vw, 3rem) 0 0 0;
            /* 32px - 48px */
            padding: clamp(2rem, 5vw, 3rem) 0 0 0;
            border-top: 1px solid #e8e8e8;
            display: flex;
            justify-content: space-between;
            align-items: center;
            column-gap: calc(12 / 16 * 1rem);
        }

        .cs-item {
            list-style: none;
            width: 32%;
            /* making flex so we can align a heading with 1 line to the bottom */
            display: flex;
            flex-direction: column;
            align-self: stretch;
            align-content: space-between;
        }

        .cs-number {
            font-size: calc(25 / 16 * 1rem);
            line-height: 1.2em;
            font-weight: 700;
            text-align: left;
            color: var(--primary);
            display: block;
            margin: 0 0 calc(8 / 16 * 1rem) 0;
        }

        // .cs-h3 {
        //     font-size: calc(16 / 16 * 1rem);
        //     line-height: 1.5em;
        //     font-weight: 400;
        //     text-align: left;
        //     /* auto margin top will push text to bottom if there's only one line */
        //     margin: 0;
        //     color: var(--bodyTextColor);
        // }

        .cs-image-group {
            width: 100%;
            max-width: calc(670 / 16 * 1rem);
            height: 100vw;
            max-height: calc(630 / 16 * 1rem);
            position: relative;
            display: block;
            z-index: 1;
        }

        .cs-picture {
            /* big background image */
            width: 93%;
            height: 93%;
            display: block;

            img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                object-fit: contain;
                border-radius: 1em;
            }
        }

        .cs-box {
            text-align: left;
            width: 70%;
            max-width: calc(304 / 16 * 1rem);
            /* 20px - 40px */
            padding: clamp(1.25rem, 4vw, 2.5rem);
            /* prevents padding and border from affecting height and width */
            box-sizing: border-box;
            background-color: #1a1a1a;
            display: inline-flex;
            justify-content: center;
            align-items: flex-start;
            flex-direction: column;
            gap: calc(8 / 16 * 1rem);
            position: absolute;
            left: 0;
            bottom: 0;
            z-index: 10;
        }

        .cs-desc {
            /* 16px - 31px */
            font-size: clamp(1rem, 2.5vw, 1.9375rem);
            line-height: 1.2em;
            font-weight: 700;
            text-align: inherit;
            width: 100%;
            color: var(--bodyTextColorWhite);
            position: relative;
            z-index: 10;
        }

        .cs-graphic {
            width: 150%;
            height: auto;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: -1;
        }
    }
}

/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    .sbs {
        .cs-container {
            max-width: calc(1280 / 16 * 1rem);
            /* set to horizontal arrangement */
            flex-direction: row;
            justify-content: space-between;
            align-items: stretch;
        }

        .cs-container.reversed {
            flex-direction: row-reverse;
        }

        .cs-content {
            width: 48%;
            // padding: calc(48 / 16 * 1rem) calc(32 / 16 * 1rem);
            align-self: center;
            /* prevents flexbox from squishing it */
            flex: none;
        }

        // .cs-content.reversed {
        //     text-align: right;
        // }

        .cs-image-group {
            width: 55%;
            max-width: calc(670 / 16 * 1rem);
            min-height: calc(670 / 16 * 1rem);
            max-height: 100%;
            height: auto;
            margin: 0;
        }

        .cs-picture {
            width: 93%;
            height: 94%;
        }

        .cs-box {
            bottom: 0;
        }

        .cs-graphic {
            max-width: calc(715 / 16 * 1rem);
            left: auto;
            right: calc(130 / 16 * 1rem);
            transform: translateY(-50%);
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        .sbs {

            .cs-title,
            .cs-text,
            .cs-h3 {
                color: var(--bodyTextColorWhite);
            }

            .cs-link {
                color: var(--secondaryLight);
            }

            .cs-content {
                .icon-container {
                    picture {
                        background: var(--primaryDark);
                    }
                }
            }

            .cs-box {
                background-color: var(--medium);
            }
        }
    }
}




// test
/*-- -------------------------- -->
<---       Side By Side         -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #sbs-683 {
        padding: var(--sectionPadding);
        /* clips the zigzag graphic so it doesn't cause overflow issues */
        overflow: hidden;

        .cs-container {
            width: 100%;
            max-width: calc(1280 / 16 * 1rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: left;
            width: 100%;
            max-width: calc(542 / 16 * 1rem);
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: flex-start;
        }

        .cs-text {
            margin-bottom: calc(16 / 16 * 1rem);

            &:last-of-type {
                margin-bottom: calc(32 / 16 * 1rem);
            }
        }

        .cs-title {
            border-bottom: 2px solid var(--primary);
        }

        .cs-h3 {
            margin: 0 auto 1rem;
        }

        .cs-image-group {
            /* everything inside the image group is in ems so the font size will scale them down.  Font size minimum is tied to view width size, and grows until it reaches 75% of the value on em */
            font-size: min(2.3vw, 0.75em);
            width: calc(632 / 16 * 1em);
            height: calc(820 / 16 * 1em);
            position: relative;
            z-index: 1;
        }

        .cs-picture {
            width: calc(306 / 16 * 1em);
            height: calc(360 / 16 * 1em);
            overflow: hidden;
            display: block;
            position: absolute;
            border-radius: 1em;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                position: absolute;
                top: 0;
                left: 0;
            }
        }

        .cs-picture1 {
            top: calc(80 / 16 * 1em);
            left: 0;
        }

        .cs-picture2 {
            top: 0;
            right: 0;
        }

        .cs-picture3 {
            bottom: 4em;
            left: 20em;
        }

        .cs-graphic {
            display: none;
        }
    }
}

/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #sbs-683 {
        .cs-container {
            flex-direction: row;
            justify-content: space-between;
        }

        .cs-container.reversed {
            flex-direction: row-reverse;
        }

        .cs-image-group {
            font-size: min(1.2vw, 1em);
            flex: none;
        }

        .cs-graphic {
            width: calc(983 / 16 * 1em);
            height: auto;
            display: block;
            position: absolute;
            bottom: calc(165 / 16 * 1em);
            right: calc(-32 / 16 * 1em);
            z-index: -1;
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #sbs-683 {
            .cs-topper .cs-color {
                color: var(--primaryLight);
            }

            .cs-title,
            .cs-text,
            .cs-h3,
            .cs-item-p {
                color: var(--bodyTextColorWhite);
            }

            .cs-text,
            .cs-item-p {
                opacity: 0.8;
            }

            .cs-icon {
                filter: brightness(125%);
            }

            .cs-graphic {
                opacity: 0.2;
            }
        }
    }
}

.slider,
.slider-1 {
    width: 100%;
    max-width: 41.875rem;
    // min-height: 41.875rem;
    max-height: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    /* <===  */
    // border-radius: 15px;
}

.slide,
.slide-1 {
    width: 100%;
    height: 100%;
    position: absolute;
    transition: all 0.5s;
}

.slide img,
.slide-1 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.btn,
.btn-1 {
    position: absolute;
    width: 40px;
    height: 40px;
    padding: 10px;
    border: none;
    border-radius: 50%;
    z-index: 10px;
    cursor: pointer;
    background-color: #fff;
    font-size: 18px;
}

.btn:active,
.btn-1:active {
    transform: scale(1.1);
}

.btn-prev,
.btn-prev-1 {
    top: 45%;
    left: 2%;
}

.btn-next,
.btn-next-1 {
    top: 45%;
    right: 2%;
}